body {
  background: #0f172a;
  font-family: Arial, sans-serif;
  color: white;
}

.container {
  width: 300px;
  margin: 100px auto;
  background: #020617;
  padding: 20px;
  border-radius: 8px;
}

h2 {
  text-align: center;
}

input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: none;
  border-radius: 5px;
}

button {
  width: 100%;
  padding: 10px;
  background: #22c55e;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

a {
  color: #38bdf8;
  text-decoration: none;
}